<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    <h1>Video</h1>
    <a href="/videos/add">Add Video</a>
    <form action="" method="post">
        <input type="text" name="search" placeholder="Looking? try to type here">
    </form>
    <form action="/rent/checkout" method="post">
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Genre</td>
                    <td>Synopsis</td>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length ; i++) { %>
                <tr>
                    <td><%= data[i].name %></td>
                    <td><a href="/videos/<%= data[i].GenreId %>/bygenre"><%= data[i].Genre.name %></a></td>
                    <td><%= data[i].sinopsis %></td>
                    <td>
                        <input type="checkbox" name="videos" value="<%= data[i].id %>">
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <input type="submit" value="rent selected videos">
    </form>
</body>
</html>