<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Genre Yang Sama</title>
</head>
<body>
    <h1>Video <%= data[0].Genre.name %></h1>
    <form action="" method="post">
        <input type="text" name="search" placeholder="Looking? try to type here">
        <button type="submit" name="search" onclick="submit">clear</button>
    </form>
    <table>
        <thead>
            <tr>
                <td>Title</td>
                <td>Genre</td>
                <td>Synopsis</td>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < data.length ; i++) { %>
            <tr>
                <td><%= data[i].name %></td>
                <td><a href="/videos/<%= data[i].GenreId %>/bygenre"><%= data[i].Genre.name %></a></td>
                <td><%= data[i].sinopsis %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>